{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-5 mb-3">
                    Go someplace you’ve never been before.

                </h1>
                <p class="lead">
                    Great words to live by. There’s something exciting about exploring a new place every year. It can be
                    a new country, a new city, or an interesting spot near your hometown.
                </p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control"
                                    placeholder="Keyword (Pool, Garage, etc)" />
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">State</label>
                                <input type="text" name="state" class="form-control" placeholder="State" />
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">City</label>
                                <select name="city" class="form-control">
                                    <option selected="true" disabled="disabled">City</option>
                                    {% for key,value in city_choice.items %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Country</label>
                                <select name="country" class="form-control">
                                    <option selected="true" disabled="disabled">Country</option>
                                    {% for key,value in country_choice.items %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select name="price" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Nomad Cost / month</option>
                                    {% for key,value in nomad_price.items %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn bg-black btn-block text-light mt-4" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- Alerts -->
{% include 'partials/_alert.html' %}
<!-- Listings -->
<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3 text-blue mb-5"> <b>Around the world</b> </h3>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{listing.photo_main.url}}" alt="" />
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge bg-black text-white">${{listing.nomad_cost | intcomma}} / mo</span>
                        </h2>
                    </div>

                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class=""><b>{{listing.city}}</b></h4>
                            <p>
                                <img style="width: 20px" src="{% static 'img/placeholder.svg' %}" alt="">
                                <br>
                                {{listing.country}}
                            </p>
                        </div>
                        <hr />
                        <div class="row py-2 ">
                            <div class="col-6 text-center">
                                <img class="my_icon" src="{% static 'img/population.png' %}" alt="">
                                {{listing.population | intcomma}}
                            </div>
                            <div class="col-6 text-center"> <img class="my_icon" src="{% static 'img/internet.svg' %}" alt="">
                                {{listing.internet}}</div>
                        </div>
                        <div class="row py-2 ">
                            <div class="col-6 text-center"><img class="my_icon" src="{% static 'img/beer.svg' %}" alt="">
                                {{listing.beer}}</div>
                            <div class="col-6 text-center"><img class="my_icon" src="{% static 'img/coffee.svg' %}" alt="">
                                {{listing.coffee}}</div>
                        </div>
                        <hr />
                        <div class="row py-2 text-center">
                            <div class="col-12"><img class="my_icon" src="{% static 'img/guide.svg' %}" alt="">
                                {{listing.guide}}</div>
                        </div>
                        <hr>
                        <div class="row  pb-2">
                            <hr />
                            <a href="{% url 'listing' listing.id %}" class="btn bg-blue text-white btn-block">More
                                Info</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{% static 'img/creative.svg' %}" style="width: 64px" alt="">
                <!-- <i class="fas fa-comment fa-4x mr-4"></i> -->

                <hr />
                <h3>Consulting Services</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
                    debitis nam! Repudiandae, provident iste consequatur hic dignissimos
                    ratione ea quae.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/trekking.svg' %}" style="width: 64px" alt="">

                <!-- <i class="fas fa-home fa-4x mr-4"></i> -->
                <hr />
                <h3>Travel Management</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
                    debitis nam! Repudiandae, provident iste consequatur hic dignissimos
                    ratione ea quae.
                </p>
            </div>
            <div class="col-md-4">
                <!-- <i class="fas fa-suitcase fa-4x mr-4"></i> -->
                <img src="{% static 'img/hotel.svg' %}" style="width: 64px" alt="">

                <hr />
                <h3>Renting & Selling</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
                    debitis nam! Repudiandae, provident iste consequatur hic dignissimos
                    ratione ea quae.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}